/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-03-04 13:34:59 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-04-07 19:50:27
*/
@import './resources/vars/colors';
@import './resources/globalStyles/inputs';

.App{
  .AppWrapper{
    display: flex;
    flex-direction: row;
  } 

  .bg-glass{
    background-color: rgba(0,0,0,0.15);
    box-shadow: -2px 4px 5px rgba(0,0,0,0.35);
  }
  
  a{
    color: $color-secondary;
    text-decoration: none;
    &:hover{
      color: darken($color-secondary, 15);
      text-decoration: underline;
    }
    &:active{
      color: lighten($color-secondary, 15);
      text-decoration: underline;
    }
  }

  .App-content{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding: 1.5rem;
    width: 100%;
    min-height: 83.5vh;
    max-height: 83.5vh;

    #PageWrapper{
      box-sizing: border-box;
      padding: 1rem;
      min-height: 100%;
      overflow-y: auto;
      box-shadow: inset 1px 1px 6px rgba(0,0,0,0.2);

      &::-webkit-scrollbar{
        width: 1.2rem;
      }
      &::-webkit-scrollbar-track{
        background-color: rgba(0,0,0,0.2);
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.2);
      }
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,0.3);
      }
    }
  }

  @media (max-width: 400px) {
    .App-content{
      padding: 1.5 .5rem;
    }
  }
}