
.blogArchive{
    padding: 2rem;

    h2{ margin-top: 0; }
    ul{
        display: flex;
        flex-direction: column;

        a{
            font-size: 1.2rem;
            text-transform: capitalize;
            margin-bottom: 0.5rem;
            transition: font-size 0.05s ease-out;

            &:hover{
                font-size: 1.4rem;
            }
        }
    }
}