
#BlogPage{

    .blogPageContent{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 2rem;

        @media (max-width: 1024px){
            grid-template-columns: 1fr;
        }
    }
}