/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-03-04 13:35:43 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-04-08 20:29:24
*/

//Gradient Colors
/* Original Colors
$color-grad-1: #C04848;
$color-grad-2: #480048; */

/* Option 1 
$color-grad-1: #A03B5B;
$color-grad-2: #541388;*/

/* Option 2 */
$color-grad-1: #3A6073;
$color-grad-2: #541388;

//Theme Colors
/* Original Colors */
$color-primary: #E9A734;
$color-secondary: #FFCF7D;
$color-accent: #00a0dc;

/* Option 1 
$color-primary: #F9BF61;
$color-secondary: #C1666B;*/

//Text Colors:
$color-txt-onDark: #FFFFFF;
$color-txt-onLight: #353535;
$color-txt-muted: #CBCBCB;

//Third Party Brand Colors
$color-brand-github: #7e65a5;
$color-brand-linkedin: #00a0dc;
$color-brand-instagram: #c13584;
$color-brand-codepen: #333333;

//skillBar Colors
$color-skillBar-back: #6d6d6d;
$color-skillBar-front: $color-primary;

//Button Colors
$color-btn-red: #923a3a;
$color-btn-green: #408f40;