@import '../../../../../resources/vars/colors';

.blogHeader{
    margin-top: 2rem;
    margin-bottom: 2rem;
    h1{
        text-align: center;
    }
    hr{
        border-color: $color-secondary;
    }
}