/*
 * @Author: David M. Rojas Gonzalez // deznorth.com 
 * @Date: 2019-03-05 11:00:49 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-28 14:46:04
*/

@import '../../../resources/vars/colors';

.aboutSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;

    @media (max-width: 1400px){
        flex-direction: column;
    }
    
    .aboutSection-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 20rem;
        margin: 0 1rem 0 1rem;
        padding: 1.5rem 0 1.5rem 1.5rem;

        @media (max-width: 1400px){
            flex-direction: column;
            height: auto;
            width: 90%;
            margin: 1rem 0 1rem 0;
            padding: 1.5rem 1.5rem 0 1.5rem;
        }

        h2{
            color: $color-secondary;
        }
        img{
            margin-right: 1.5rem;
            @media (max-width: 1400px){
                margin: 0;
            }
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.1);
            height: 100%;
            padding: .5rem;
            box-sizing: border-box;
            color: $color-primary;
            border: none;
            font-size: 3rem;
            transition: .2s transform;
            
            &:focus{ outline:none; }
            &:hover{
                transform: translate(3px,0);
                color: darken($color-primary, 15);
                background-color: rgba(0,0,0,0.3);
            }
            &:active{
                transform: translate(1px,0);
                color: lighten($color-primary, 15);
                background-color: rgba(0,0,0,0.2);
            }

            @media (max-width: 1400px){
                height: auto;
                width: 100%;
                i{
                    transform: rotate(90deg);
                }
                &:hover{
                    transform: translate(0,3px);
                    color: darken($color-primary, 15);
                    background-color: rgba(0,0,0,0.3);
                }
                &:active{
                    transform: translate(0,1px);
                    color: lighten($color-primary, 15);
                    background-color: rgba(0,0,0,0.2);
                }
            }
        }
        span:first-of-type{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-right: 1.5rem;

            @media (max-width: 1400px){
                flex-direction: column;
                margin-right: 0;
            }
        }
    }

    #aboutSection-extra{
        padding: 1.5rem;
        transition: 0.2s;
        &.extraHidden{
            max-width: 0;
            opacity: 0;
            overflow: hidden;

            @media (max-width: 1400px){
                max-width: initial;
                max-height: 0;
            }
        }
    }
}