/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-03-04 19:15:35 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-04-07 18:19:39
*/
@import '../../../resources/vars/colors';

.App-header.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .app-logo{
        width: 6rem;
        margin: 2rem 0 1.2rem 0;
    }
    span{
        text-align: center;
    }
    .header-brand-name{
        color: $color-txt-onDark;
        font-family: 'Bree Serif', serif;
        font-size: 1.2rem;
        margin: 0;
        transition: .2s;
        @media (max-width: 600px){
            font-size: 1.2rem;
        }
    }
    .header-brand-title{
        color: $color-primary;
        font-family: 'Bree Serif', serif;
        font-size: 1.2rem;
        transition: .2s;
        @media (max-width: 600px){
            font-size: 1.2rem;
        }
        margin: 0;
    }
}