/*
 * @Author: David M. Rojas Gonzalez // davidr.info  
* @Date: 2019-03-08 20:51:27  
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-28 14:36:21
*/

@import '../../../resources/vars/colors';

$highlight-space-modifier: 0.4;

.skillsCategory{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    &.highlightedCategory{
        flex-grow: $highlight-space-modifier;
        border-right: 1px solid rgba(0,0,0,0.2);

        @media (max-width: 550px){
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }
    }

    .skillsCategory-content{
        padding: 0;
        min-width: 8rem;
    }
}