/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-03-04 13:35:26 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-17 19:23:12
*/
@import './resources/vars/colors';

html{
  background-image: linear-gradient(132deg, $color-grad-1,$color-grad-2);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0 0 0;
  @media (max-width: 600px){
    padding: 1.2rem 0 0 0;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $color-txt-onDark;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

@for $i from 1 through 6{
  h#{$i}{
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.07rem;
    @if $i == 1 {
      color: $color-primary;
    } @else {
      color: $color-secondary;
    }
  }
}

button{ 
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  &:focus{ outline: none; }
  &:hover{
    cursor: pointer;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
