/*
* @Author: David M. Rojas Gonzalez // davidr.info  
* @Date: 2019-03-17 17:59:47  
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-28 14:41:29
*/

@import '../../../resources/vars/colors';

//Break points
$screen-xs: 800px;
$screen-md: 1400px;

.projectsSection{
    display: grid;
    margin: 2rem auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 2rem;

    @media (max-width: $screen-md){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $screen-xs){
        grid-template-columns: 1fr;
    }

    span#ProjectsSection{
        position: absolute;
        margin-top: 15rem;
    }
}